@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo!</h1>
    <p>Leia sobre <a href="https://docs.microsoft.com/aspnet/core">construindo Web apps com ASP.NET Core</a>.</p>
</div>
