@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso negado!";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <h5 class="text-danger">Você não tem permissão para acessar este conteúdo &#128540;</h5>
</header>
