@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Sua senha foi resetada!";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor, <a asp-page="./Login">clique aqui</a> para acessar sua conta.
</p>
