@{
    ViewData["Title"] = "Sua senha foi definida.";
}

<vc:summary></vc:summary>
<h1>@ViewData["Title"]</h1>

<p>
    Por favor, <a asp-page="/Account/Login" asp-area="Identity">clique aqui</a> para acessar sua conta.
</p>
